---
---

@import "{{ site.theme }}";

nav#nav {
  margin-bottom: 27px;
  font-size: 0.8em;
}
nav#nav a {
  text-decoration: underline;
}
nav#nav a:hover {
  text-decoration: none;
}
nav#nav a:not(:last-child):after {
  right: -22px;
}
